@import '../../assets/styles/index.scss';

.title {
  padding: 25px;
}

.wrapper {
  position: absolute;
  top: 80px;
  right: 200px;
  width: 310px;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0px 8px 23px -5px rgba(0, 0, 0, 0.45);
}

.decor {
  width: 100%;
  height: 1px;
  background-color: $black;
}
.box {
  @include centered-flex;
  height: 190px;
}
