@import '../../assets/styles/index.scss';

.title {
  padding: 25px;
}

.wrapper {
  width: 310px;
  height: 210px;
  border-radius: 10px;
  border: 1px solid $black;
}

.decor {
  width: 100%;
  height: 1px;
  background-color: $black;
}
.box {
  @include centered-flex;
}

.txt {
  display: block;
}
