@import '../../assets/styles/index.scss';
.list {
  display: flex;
  gap: 30px;
}

.main__img {
  border-radius: 15px;
  margin-bottom: 30px;
}

.btn {
  border: none;
  background-color: transparent;
  display: flex;
  padding: 0;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;

  &.active {
    border: 2px solid $orange;
  }
}
