@import '../../assets/styles/index.scss';
.list {
  display: flex;
  justify-content: space-between;
}
.modalList {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.main__img {
  border-radius: 15px;
  margin-bottom: 30px;
  cursor: pointer;
}

.btn {
  border: none;
  display: flex;
  padding: 0;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  background-color: $white;

  &.active {
    border: 2px solid $orange;
  }
}

.img__thumbnail {
  transition: opacity 0.3s;
  opacity: 1;

  &:hover {
    opacity: 0.5;
  }
}

.activeThumbnail {
  opacity: 0.5;
}

.wrapper {
  position: relative;
}

.next__btn {
  position: absolute;
  @include invisible-btn;
}

.close__btn {
  position: absolute;
  @include invisible-btn;
  top: -40px;
  right: 0;
  color: #69707d;
  &:hover {
    color: $orange;
  }
}

.slide__btn {
  position: absolute;
  @include invisible-btn;
  @include centered-flex;
  color: #69707d;
  top: 245px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $white;
  color: #1d2026;
  &:hover {
    color: $orange;
  }
}

.previous {
  left: -30px;
}
.next {
  right: -30px;
}
