@import '../../assets/styles/index.scss';

.list {
  display: none;
  @include mq(desk) {
    display: flex;
    justify-content: space-between;
  }
}

.modalList {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.main__img {
  margin-bottom: 25px;
  cursor: pointer;
  @include mq(desk) {
    margin-bottom: 30px;
    border-radius: 15px;
  }
}

.btn {
  border: none;
  display: flex;
  padding: 0;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  background-color: $white;

  &.active {
    border: 2px solid $orange;
  }
}

.img__thumbnail {
  transition: opacity 0.3s;
  opacity: 1;

  &:hover {
    opacity: 0.5;
  }
}

.activeThumbnail {
  opacity: 0.5;
}

.wrapper {
  position: relative;
}

.button__block {
  @include mq(desk) {
    display: none;
  }
}

.next__btn {
  position: absolute;
  @include invisible-btn;
}

.close__btn {
  position: absolute;
  @include invisible-btn;
  top: -40px;
  right: 0;
  color: $white;
  &:hover {
    color: $orange;
  }
}

.slide__btn {
  position: absolute;
  @include invisible-btn;
  @include centered-flex;
  color: #69707d;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  color: #1d2026;
  top: 170px;
  @include mq(desk) {
    width: 60px;
    height: 60px;
    top: 245px;
  }

  &:hover {
    color: $orange;
  }
}

.previous {
  left: 15px;
  @include mq(desk) {
    left: -30px;
  }
}
.next {
  right: 15px;
  @include mq(desk) {
    right: -30px;
  }
}
