@import '../../../src/assets/styles/index.scss';

section {
  padding-bottom: 90px;
  @include mq(desk) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.wrapper {
  @include mq(desk) {
    display: flex;
    gap: 120px;
  }
}
