@import '../../assets/styles/index.scss';

.heder__container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  width: 325px;

  @media screen and (min-width: 1440px) {
    padding-left: 0;
    padding-right: 0;
    width: 1440px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(desk) {
    border-bottom: 1px solid $grayish-blue;
  }
}

.logo {
  padding-top: 25px;
  padding-bottom: 25px;
}

.user__menu {
  display: flex;
  align-items: center;
  gap: 20px;
  @include mq(desk) {
    gap: 50px;
  }
}

.btn,
.btn__profile {
  position: relative;
  display: flex;
  @include invisible-btn;
  height: 100%;
}

.btn__profile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 2px transparent;
  @include mq(desk) {
    width: 52px;
    height: 52px;
  }

  &:hover {
    box-shadow: 0 0 0 2px $orange;
  }
}

.cart__img {
  position: relative;
}

.count {
  position: absolute;
  top: -5px;
  right: -7px;
  min-width: 18px;
  height: 12px;
  font-size: 10px;
  background-color: $orange;
  color: $white;
  border-radius: 5px;
}
