@import '../../assets/styles/index.scss';

.heder__container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 375px) {
    width: 375px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grayish-blue;
}

.logo {
  height: 22px;
}

.list {
  display: flex;
  gap: 35px;
  height: 22px;
  padding-top: 45px;
  padding-bottom: 45px;
}

nav {
  margin-left: 55px;
  margin-right: auto;
}

.link {
  position: relative;
  font-size: 18px;
  color: $dark-grayish-blue;
  &::after {
    content: '';
    position: absolute;
    opacity: 0;
    top: 64px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $orange;
  }
  &.active::after {
    opacity: 1;
  }

  &:hover::after {
    opacity: 1;
  }
}

.user__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.btn {
  position: relative;
  display: flex;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
}

.cart__img {
  fill: #69707d;
}
