@import '../../assets/styles/index.scss';

.nav {
  display: block;
  @include mq(desk) {
    display: block;
    margin-left: 55px;
    margin-right: auto;
  }
}

.list {
  display: block;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  @include mq(desk) {
    flex-direction: row;
    height: 22px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.link {
  font-size: 18px;
  color: $dark-grayish-blue;
  font-weight: $bold;
  @include mq(desk) {
    font-weight: $regular;
    position: relative;
    padding-bottom: 47px;
    &::after {
      content: '';
      position: absolute;
      opacity: 0;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: $orange;
      transition: opacity 0.3s;
    }
    &.active::after {
      opacity: 1;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}
